{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Mini projet Symfony</h1>
        <p class="lead">L’école EMSI souhaite créer une application web avec le Framwork PHP symfony afin de gérer
            ses professeurs.
        </p>
        <hr class="my-4">
        <ul> Projet réalisé par :
            <li>SAKOUT REDA</li>
            <li>REZKAOUI MOHAMED</li>
        </ul>
        <ul> Encadrer par:
            <li>Mr.ABDELMAJID BOUSSELHAM</li>
        </ul>
    </div>
{% endblock %}
