{% extends 'base.html.twig' %}

{% block title %}Edit Departement{% endblock %}

{% block body %}
    <h1 style="text-align: center;"><u>Modifier Un Département <u/></h1>
    {{ include('departement/_form.html.twig', {'button_label': 'Modifier Un Département'}) }}
{% endblock %}
